<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-12">
            <h4>Chaitanya Bangera</h4>
            <h3 class="header">FULL STACK DEVELOPER</h3>
        </div>
        
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <h6 class="header">
            SUMMARY
          </h6>
          <p class="text-justify">
              Full Stack Developer at Principal Financial Group. Skilled in Angular, Python, Django, C#/XAML 
              programming (currently learning React), Microsoft certified C# developer, and specializes in web apps using Angular/Django, desktop 
              apps using Python/Qt/C# and mobile app development for Windows Store/Windows Phone platforms. Runner-up of the annual Principal's Analytics Hackathon and
              Winner of Microsoft’s Hackathon:Ideathon “Windows 8 apps for a Social cause” event.
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <h6 class="header">
            WORK EXPERIENCE
          </h6>
          
        </div>
      </div>
      <div class="row" *ngFor="let exp of this.data">
          
        <div class="col-2 ">
          <p class="grey-text">{{exp.timeFrame}}</p>
          
        </div>
        <div class="col-10">
            
          <span class="font-weight-bold">{{exp.company}}</span>
          <ul>
            <li class="text-justify" *ngFor="let point of exp.points">
                <span class="text-justify">{{point}}</span>
            </li>
          </ul>
          
                      
        </div>
        
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-12">
            <img class="displayPic" src="assets/displayPic.jpg">
        </div>
      </div>
      <br>
      <br>
      <div style="text-align:left;" class="row">
        <div class="col-12">
            <h6 class="header">
              CONTACT
            </h6>
            <div class="grey-text">
                <p><mdb-icon fas icon="phone"></mdb-icon> +91-7767971598</p>
                <p><mdb-icon far icon="envelope"></mdb-icon>&nbsp;&nbsp;<a href="mailto:chaitanya_bangera@outlook.com">chaitanya_bangera@outlook.com</a></p>
                <!--p><mdb-icon fab icon="github"></mdb-icon>&nbsp;&nbsp;<a href="https://github.com/javapyscript">https://github.com/javapyscript</a> </p-->
                <p><mdb-icon fab icon="linkedin"></mdb-icon>&nbsp;&nbsp;<a href="https://linkedin.com/in/chaitanyabangera">linkedin.com/in/chaitanyabangera</a></p>
                <p><mdb-icon fab icon="hackerrank"></mdb-icon>&nbsp;&nbsp;<a href="https://www.hackerrank.com/chaitanya_bange1">hackerrank.com/chaitanya_bange1</a></p>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
         <br>
          <h6 class="header">TECHNICAL SKILLS</h6>
          <ul>
              <li>Angular 7</li>
              <li>Python 3.x</li>
              <li>Django 2.x</li>
              <li>Typescript</li>
              <li>Javascript</li>
              <li>HTML/CSS</li>
              <li>C#/WPF</li>
              <li>XSLT/XPATH/XML</li>
          </ul>
            
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          
          <h6 class="header">ACHIEVEMENTS</h6>
          <ul>
              <li>Won the Principal’s “Rising Star” award for the best performance among the employees joined in 2018. </li>
              <li>Runner up in the Principal's annual Anaytics Hackathon. I created the visualizations, Angular UI, Django API and PostgreSQL DB. </li>
              <li>Completed the Angular certification Ultimate Courses.
              </li>
              <li>Winner of the Microsoft’s “Hackathon: Ideation - Apps for a social cause” event wherein one had to ideate and develop 
                  a Windows 8 Store app within three hours.
              </li>
              <li>Microsoft’s certification in “Programming in C# 70-483” </li>
              <li>Infosys Bravo award in 2016 for excellent work and for receiving great reviews from the clients in UK. </li>
              <li>Infosys Bravo award for excellence in performance in the last quarter of 2013.</li>
              <li>Took up a research topic “Image Processing using Genetic Programming” for my final year Engineering project.  It predicted the best algorithm for processing an image by combining different
                  algorithms to produce “offsprings” and applying them to find out the few which performed well. This “reproduction” process
                  continued until no further improvement was seen.
              </li>
              <li>Developed, with three other members in college, a simulation turn based cricket game in Java. Hosted it as a gaming event
                  during the college cultural fest.
             </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <h6 class="header">HOBBIES</h6>
            <ul>
                <li>Passionate about photography. FB page at https://www.facebook.com/TheChaitanyaPhotography/</li>
                <li>An avid reader. I usually complete 3 books a month.</li>
                <li>Technology nerd</li>
                <li>Was the lead graphical designer for SevenPlusAndroid, a start-up that designed Android apps that had a Modern layout.</li>
                
            </ul>
        </div>
      </div>
      
    </div>
  </div>
</div>

